.p-t-23 {
    padding-top:23px
}

.p-t-50 {
    padding-top: 50px
}

.p-b-43 {
    padding-bottom: 43px
}

.p-b-160 {
    padding-bottom: 160px
}

.text-center {
    text-align: center
}

.w-full {
    width: 100%
}